/************* IMAGE OUTLINES *************/

.mc_mockup_cnt{
	border-top: 1px #eee solid; 
	border-bottom: 1px #eee solid; 
	width: 100%; 
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto 1.6rem;
	flex-wrap: wrap;
	clear: both;
	float: none;
	position: relative;
	top: 1rem
}

.mc_mockup_cnt.image{
	margin: 0 auto 3.3rem;
}

.mc_mockup_cnt.video.one{
	border-top:0;
	border-bottom:0;
	top: 0; 
	margin: 0 auto .6rem;
}

.mc_mockup_cnt.two{
	justify-content: center;
}

.mc_mockup_cnt.video.one .mc_mockup{
	width: 100%;
	}
.mc_mockup_cnt.video.one .mc_mockup{
	width: 50%
	margin: 0 auto;
	}
.mc_mockup{
	display: inline-block;
	box-sizing: border-box;
	background-size: contain;
	position: relative;
	align-self: flex-end;
	margin: 2.6rem 0;
}
.mc_mockup_cnt.video.one .mc_mockup{
	margin: 0rem 0;
}

.mc_mockup_cnt.two .mc_mockup{
	margin: 1.6rem 30px;
}


.mc_mockup_cnt.four .mc_mockup:nth-child(1), .mc_mockup_cnt.four .mc_mockup:nth-child(2){
	margin: 1.6rem auto 0.65rem
}

.mc_mockup_cnt.four .mc_mockup:nth-child(3), .mc_mockup_cnt.four .mc_mockup:nth-child(4){
	margin: 0.65rem auto 1.6rem
}			


.mc_mockup_cnt .mc_mockup:first-of-type{
	margin-left: 0;
}

.mc_mockup_cnt .mc_mockup:last-of-type{
	margin-right: 0;
	}
	
.mc_mockup_cnt .mc_mockup img{
	margin-bottom: 0;
}

.mc_mockup.watch{
	background: url(../img/appleWatchOutlineBlack.svg) center no-repeat;
	width: 30%;
	background-size: 125%;
}
.mc_mockup.watch img, .mc_mockup.watch video{
	width: 70%;
	height: auto;
	padding: 30% 0% 30% 24%;
}	

.mc_mockup.iphone-4s{
	background: url(../img/iPhone4SOutline.svg) no-repeat;
	width: 25%;
}

.mc_mockup.iphone-se{
	background: url(../img/seOutline.svg) no-repeat;
	width: 26%;
}

.mc_mockup_cnt.four .mc_mockup{
	width: 37%;
}



.mc_mockup.iphone-4s img, .mc_mockup.iphone-4s video{
	width: 100%;
	height: auto;
	padding: 29.5% 6.9% 28% 7.8%;
}

.mc_mockup.iphone-se img, .mc_mockup.iphone-se video{
	width: 100%;
	height: auto;
	padding: 29.5% 6.9% 28% 7.8%;
}

.mc_mockup.iphone-6{
	background: url(../img/iphone6Outline.svg) no-repeat;
	width: 30%;
}

.mc_mockup.iphone-6 img, .mc_mockup.iphone-6 video{
	width: 100%;
	height: auto;
	padding: 24.5% 6.5% 24% 6.5%;
}

.mc_mockup.iphone-6-plus{
	background: url(../img/iphone6PlusOutline.svg) no-repeat;
	width: 33%;
}

.mc_mockup.iphone-6-plus img, .mc_mockup.iphone-6-plus video{
	width: 100%;
	height: auto;
	padding: 23.5% 6.9% 23% 6%;
}

.mc_mockup_cnt figcaption{
	font-size: .625rem;
	margin-bottom: 1.6rem;
	color: #aaa;
	letter-spacing: 0.5px;
	font-style: italic;
}

@media screen and (min-width:768px){
	.mc_mockup_cnt.image{
		width: calc(750px - 65px);
		top: 1.8rem;
		}
	.mc_mockup_cnt.video{
		width: 100%;
		top: 0;
		}
	.mc_mockup_cnt.four .mc_mockup:nth-child(1), .mc_mockup_cnt.four .mc_mockup:nth-child(2){
		margin: 2.6rem auto 1.3rem;
	}

	.mc_mockup_cnt.four .mc_mockup:nth-child(3), .mc_mockup_cnt.four .mc_mockup:nth-child(4){
		margin: 1.3rem auto 2.6rem;
	}
	.mc_mockup_cnt.two .mc_mockup{
		margin: 2.6rem 30px;
	}
	.mc_mockup_cnt figcaption{
		left: -15px;
		}
	.mc_mockup_cnt.video.one .mc_mockup{
	width: 100%
	margin: 0;
	}
		
}
@media screen and (min-width:992px){
	.mc_mockup_cnt.image{
		width: 940px;
		flex-wrap: no-wrap;
		}
	.mc_mockup_cnt.four .mc_mockup:nth-child(1), .mc_mockup_cnt.four .mc_mockup:nth-child(2),.mc_mockup_cnt.four .mc_mockup:nth-child(3), .mc_mockup_cnt.four .mc_mockup:nth-child(4){
		width: 24%;
		margin: 2.6rem auto;

	}
	
}

@media screen and (min-width:1200px){
	.mc_mockup_cnt.image{
		width: 1140px;
		}
	.mc_mockup_cnt.video{width:100%}
	.mc_mockup_cnt.video.one .mc_mockup{margin: 1.6rem}
}